<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:fragment="head-page-1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Pricing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <!--    <link href="../css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/page1.css}">

</head>

<head th:fragment="head-page-2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Customize</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/page2.css}">
</head>

<head th:fragment="head-page-3">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common-partial.css}">
</head>

<head th:fragment="head-page-4">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Checkout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common-partial.css}">
</head>

<head th:fragment="head-page-5">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Checkout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common-partial.css}">
</head>

<head th:fragment="head-page-6">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Done</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common-partial.css}">
</head>

<head th:fragment="head-page-7">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Most Devices -->
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">

    <!-- Android -->
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon/android-chrome-512x512.png" sizes="512x512">

    <!-- IOS -->
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/apple-touch-icon.png">

    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon/favicon.ico">

    <!-- Web Manifest -->
    <link rel="manifest" type="image/png" href="/images/favicon/site.webmanifest">

    <title>tiptap | Bundles | Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundles/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common.css}">
    <link rel="stylesheet" th:href="@{/css/bundles/css/custom/common-partial.css}">
</head>

</html>