<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<nav th:fragment="navbar-with-bag" class="navbar fixed-top " style="background-color: #452056; height: 65px">
    <div class="container-fluid">

        <div class="d-flex">
            <svg th:insert="~{fragments/svg_fragments :: tiptap-white-logo-svg}" width="90" height="41"></svg>
            <span class="text-white m-0" style="font-size: 14px; font-weight: bold; padding-top: 12px"
                  th:text="${netsuiteEnvironment == 'SB' ? '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Development Version' : ''}"></span>
        </div>

        <!--   Shopping Bag Icon     -->
        <a type="button" th:href="@{./shopping-bag}" id="shopping-bag-icon-and-badge">
            <div class="position-relative">
                <!-- SVG -->
                <svg th:replace="~{fragments/svg_fragments :: white-filled-bag-v3-svg}"></svg>
                <!-- Badge -->
                <span id="shopping-bag-device-number"
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white"
                      th:text="${storeShoppingBag == null ? '' : (storeShoppingBag.totalNumberOfProducts() > 0 ? storeShoppingBag.totalNumberOfProducts()  : '')}">
                </span>
            </div>
        </a>
    </div>
</nav>

<nav th:fragment="navbar-without-bag" class="navbar fixed-top " style="background-color: #452056; height: 65px">
    <div class="container-fluid">
        <div class="d-flex">
            <svg th:insert="~{fragments/svg_fragments :: tiptap-white-logo-svg}" width="90" height="41"></svg>
        </div>
    </div>
</nav>
</html>
