<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row my-5 justify-content-start align-items-start">
                <h1 class="ms-3 fw-bold text-purple">Oops an error has occured.</h1>
            </div>
            <p class="fs-5 mb-5">An error has occured and you will need to try to place your order again. If this issue
                persists please contact <a class="text-fuschia" href="mailto:support@tiptappay.com">support@tiptappay.com</a>
            </p>
            <a class="btn ttp-btn-primary btn-lg" href="/order">Back to Order Page</a>
        </div>
    </div>
</div>
</body>
</html>