<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include fragment content inside head -->
    <div th:replace="~{fragments/bundles/header :: head-page-2}"></div>

    <title>.</title>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "qtfyso1mfx");
    </script>

    <!-- Google Analytics (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FDJL41MRCT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-FDJL41MRCT');
    </script>
</head>

<body>

<div class="sidebar">

    <!-- Logo at the top -->
    <div class="logo"><img src="/images/assets/logo-white.svg" alt="logo"></div>

    <!-- Image centered vertically -->
    <div class="centered"><img src="/images/assets/hand-card-tap.svg" alt="tap"></div>

    <!-- Text at the bottom -->
    <div class="bottom-text">
        <a href="https://tiptappay.com/connect-with-us/" class="text-white">Need Help?</a>
    </div>

</div>

<div class="content">

    <div class="text-center mb-4">
        <div style="font-weight: bold; font-size: 36px; padding-top: 70px; padding-bottom: 10px;">My Account</div>
    </div>

    <div class="mb-4">

        <div class="form-content row justify-content-center">

            <div style="max-width: 700px">

                <div class="mb-5">
                    <p>We found an existing account for <span th:text="${organizationName}"></span>.
                        To continue, confirm your email. If you’d like to use a different one, simply update the field
                        below.</p>
                </div>

                <div style="font-weight: bold; font-size: 14px; padding-bottom: 10px; color: #422055">
                    Your Account Email
                </div>

                <form action="#" th:action="@{'/benevity/faith/my-account'}" th:object="${myAccountDTO}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email"
                               th:field="*{email}" th:value="${myAccountDTO.getEmail()}" placeholder="" required>
                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}" style="color: red;"></small>
                        <small id="invalidInputMessage" style="color: red; display: none;"></small>
                    </div>

                    <div class="text-center mb-3 pt-3">
                        <button type="submit" class="btn ttp-btn-primary p-2 mb-2"
                                style="border-radius: 10px; width: 218px">
                            Confirm My Address
                        </button>
                    </div>
                </form>


                <div class="pt-2">
                    <a href="https://tiptappay.com/connect-with-us/"
                       style="color: #422055; font-weight: bold; text-decoration: none">Need Help?</a>
                    <span> If you have any questions, our support team is here to assist you every step of the way.</span>
                </div>

                <div class="pt-2 mb-5">
                    <span style="color: #422055; font-weight: bold;">Thank you for choosing tiptap!</span><br>
                    <span>We look forward to supporting your business!</span>
                </div>

            </div>

        </div>

    </div>

</div>

<script th:src="@{/js/common/email.js}"></script>

<script>
    const STORE_ENDPOINT = '/benevity/faith';

    document.querySelector("form").addEventListener("submit", function (event) {
        if (!validateFormEmailEntry("email", "invalidInputMessage")) {
            event.preventDefault(); // Stop form submission if invalid
        }
    });
</script>

</body>
</html>
