<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tiptap</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/base_app.css"/>
    <link rel="stylesheet" href="/css/ttp-custom.css"/>

    <meta charset="UTF-8" content="MBoyQBsQODEBNHceP31SFiBYDEkgOgcdGyaryiAu6VAXi5kLp3yxUXKn" csrf-param="_csrf_token"
          method-param="_method" name="csrf-token">
</head>

<body class="ttp-bg-white">

<div id="content-wrapper" class="content-wrapper-cls">

    <div class="container" style="margin-top: 100px">

        <div class="row">

            <div class="col-sm">

                <h1>Headline 1</h1>
                <h2>Headline 2</h2>
                <h3>Headline 3</h3>
                <h4>Headline 4</h4>

            </div>

            <div class="col-sm">

                <div class="ttp-body-lead">Lead paragraph</div>
                <div>Body</div>
                <a href="https://google.com" target="_blank">Link</a>
                <div class="ttp-body-info">Additional Info</div>
                <div class="ttp-body-tag">Tag</div>

            </div>

            <div class="col-sm">

                <div class="ttp-form-label">Label</div>
                <div class="ttp-form-value">Value</div>

            </div>


        </div>

    </div>



</div>

</body>
</html>
